spring:
  application:
    name: activity-service
  data:
    mongodb:
      username: root
      password: password
      host: localhost
      port: 27017
      database: fitness_activity_db
      authentication-database: admin
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8082
