spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/fitness_user_db
    username: root
    password: mysql
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8081

